<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js" integrity="sha256-+J5cSgDOPu6OT8mt+r5f7/cmvICoEmNdK2ZGz8ql8wc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js" integrity="sha256-7Nm5pPipMrlpGKMkoaMrPsuGnoJnMUSBYEvCr9LSs/k=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js" integrity="sha256-3WZyZQOe+ql3pLo90lrkRtALrlniGdnf//gRpW0UQks=" crossorigin="anonymous"></script>

<script src="quotedb.js"></script>

<input type="text" id="search_query_box" />
<input type="button" id="search_query_submit_button" onclick="search_button_onclick();" value="Search" />

<div id="search_results">
  <ul>
	<li v-for="search_result in search_results">
	  <a v-bind:href="search_result.href">{{search_result.id}}</a>: Uploaded {{search_result.quoted}}:
	  <ul>
	  	<li v-for="line in search_result.lines">
		  [{{line.timestamp}}] <b>{{line.author}}</b>: <span v-html="line.htmlcontent"></span>
	  	</li>
	  </ul>
	</li>
  </ul>
</div>
